@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.headContainer {
  background-color: rgb(233, 241, 243);
  color: rgb(12, 13, 13);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  border-bottom: 2px solid;
  font-size: 32px;
  font-family: "Noto Sans KR", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.footContainer {
  background-color: rgb(233, 241, 243);
  color: rgb(12, 13, 13);
  border-top: 2px solid;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  font-size: 23px;
  font-family: "Noto Sans KR", sans-serif;
}

.inputBody {
  width: 15%;
  height: 80%;
  margin-top: 79px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 8px 10px;
  font-family: "Abel", sans-serif;
  font-size: 24px;
}

.inputBody ul {
  list-style-type: none;
  padding: 15px;
  height: 100%;
}

.inputBody li {
  padding: 8px;
  margin-bottom: 10px;
}

#minPrice,
#maxPrice {
  width: 140px;
}

.btn {
  width: 90px;
  color: white;
  font-size: 20px;
}

.btn:hover {
  box-shadow: 0 0 8px black;
}

.productContainer {
  border: 1px solid;
  margin-top: 81px;
  margin-left: 228px;
  width: 1290px;
  margin-bottom: 68px;
}